{% extends 'student_template/st_base_template.html' %} {% block title %} Course-Student-Dashboard- BICTESMC {% endblock %} {% block content %}
<section class="col-md-9 mt-4 mt-md-0">
    <div class="card">
        <h5 class="card-header text-center" style="background-color: #c0c0c0">
            Semester
        </h5>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Course</th>
                        <th><a href="#">Teacher</a></th>
                        <th>Course Materials</th>
                    </tr>
                </thead>
                <tbody>
                    <td>Python</td>
                    <td>Santosh Dahal</td>
                    <td>Explor</td>
                </tbody>
            </table>
        </div>
    </div>
</section>
{%endblock%}